:root {
    --primary-color: #363E45;
    --font-stack: Helvetica, sans-serif;
}

body {
    font-family: "Arial", serif;
    display: flex;
    flex: 1;
    flex-flow: column;
    align-items: center;
    margin: 0;
}

.Content {
    height: 3806px;
    width: 1140px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#header {
    height: 96px;
    width: 100%;
    display: flex;
    align-items: center;
}

.menu {
    margin-left: auto;
    margin-right: 0;
}

.button {
    padding: 16px 20px;
    border: 1px solid #98A3AE7A;
    border-radius: 8px;
    background-color: white;

    display: inline;
    font-family: Arial, serif;
    font-size: 14px;
    color: var(--primary-color);
}

#header .button {
    margin-left: 4px;
}

a.button {
    text-decoration: none;
}

.logo {
    float: left;
}

#about {
    display: flex;
    flex-direction: column;
    height: 614px;
    width: 100%;
}

.about-text {
    height: 174px;
    line-height: 58px;
    margin: 0 0 auto 0;
    font-family: Arial, serif;
    font-size: 48px;
    color: var(--primary-color);
}

.Image {

}

.Image.image-about {
    height: 400px;
    border-radius: 8px;
    margin: auto 0 0 0;
    width: 100%;
    background-image: url("../img/Image_about.png");

}

#education {
    height: 440px;
}

#education .education-header {
    font-size: 48px;
    line-height: 48px;
    color: var(--primary-color);
    margin-bottom: 40px;
}

#education .education-grid {
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr;
    grid-auto-flow: column;
    gap: 32px;
}

#education .education-entry {
    display: flex;
    flex-direction: column;
}

#education .entry-header {
    font-size: 20px;
    line-height: 24px;
    color: var(--primary-color);
    margin-bottom: 8px;
}

#education .education-text {
    display: flex;
    font-size: 16px;
    line-height: 24px;
    color: #363E45A3;
    margin-bottom: 16px;
}

#education .date {
    display: flex;
    font-size: 16px;
    line-height: 24px;
    color: var(--primary-color);
}

#experience {
    height: 576px;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    font-family: Arial, serif;
    font-size: 48px;
    color: var(--primary-color);
}

#experience .exp-header {
    line-height: 48px;
}

#experience .media-menu {
    display: flex;
    height: 48px;
}

#experience .button {
    line-height: 15px;
    margin-right: 8px;
}

#experience .experience-text-pic {
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#experience .experience-pic {
    content: url(../img/Image_experience.png);
    object-fit: cover;
    border-radius: 8px;
    height: 400px;
    width: 554px;

}

#experience .experience-text {
    width: 554px;
    height: 400px;

    display: flex;
    flex-direction: column;
}

#experience .exp-text-header {
    height: 56px;
    line-height: 24px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#experience .header {
    margin: 0;
    font-size: 20px;
    color: var(--primary-color);
}

#experience .subheader {
    margin: 0;
    font-size: 16px;
    color: #363E45A3;
}

#experience .date {
    margin: 16px 0 8px 0;
    font-size: 16px;
    line-height: 24px;
    color: var(--primary-color);
}

#experience .paragraph {
    margin: 8px 0;
    font-size: 16px;
    line-height: 24px;
    color: #363E45A3;
}

#skills {
    height: 728px;
}

#skills .skills-header {
    font-size: 48px;
    line-height: 48px;
    color: var(--primary-color);
    margin-bottom: 40px;
}

#skills .skills-grid {
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr 1fr / 1fr 1fr;
    gap: 0;
    margin-bottom: 40px;
}

#skills .skills-entry {
    height: 80px;
    width: 586px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#skills .add-new-skill {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #98A3AE1F;
    border-radius: 8px;
}

#skills .add-new-skill-header {
    margin: 32px;
    font-size: 20px;
    line-height: 24px;
    color: var(--primary-color);
}

#skills .name {
    font-size: 16px;
    line-height: 24px;
    color: var(--primary-color);
    margin-bottom: 8px;
}

#skills .add-form {
    margin: 0 32px 32px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#skills .form {
    border: 1px solid #9CA3AA7A;
    border-radius: 8px;
    height: 48px;
    width: 489.5px;
}

#skills .add {
    display: flex;
    align-items: flex-end;
}

#skills button {
    width: 65px;
    height: 48px;
    border-radius: 8px;
    border-color: #2F3337;
    background-color: #2F3337;
    color: white;
}

#skills .entry-header {
    font-size: 16px;
    line-height: 24px;
    color: var(--primary-color);
}

#skills .bar {
    height: 8px;
    background-color: #98A3AE1F;
    border-radius: 4px;
    width: 554px;
}

#skills .fill-bar {
    height: 8px;
    background-color: var(--primary-color);
    border-radius: 4px;
}

#skills .react-bar {
    width: 90%;
}

#skills .softskill-bar {
    width: 80%;
}

#skills .angular-bar {
    width: 70%;
}

#skills .motion-bar {
    width: 60%;
}

#skills .htmlcss-bar {
    width: 100%;
}

#skills .ux-bar {
    width: 20%;
}

#skills .js-bar {
    width: 20%;
}

#skills .ui-bar {
    width: 50%;
}

#skills .python-bar {
    width: 25%;
}

#skills .ddd-bar {
    width: 25%;
}

#contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 488px;
}

#contacts .contact-header {
    font-size: 48px;
    line-height: 48px;
    color: var(--primary-color);
}

#contacts .contact-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 32px;
    height: 400px;
}

#contacts .contact-elem {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    background-color: #98A3AE1F;
    border-radius: 8px;
}

#contacts .contact-pic {
    padding: 32px;
    height: 40px;
    width: 40px;
}

#contacts .contact-text-header {
    font-size: 20px;
    line-height: 24px;
    color: var(--primary-color);
    margin-bottom: 8px;
}

#contacts .contact-text-text {
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    color: #363E45A3;
}

#contacts .contact-text {

    padding: 32px;
}

#footer {
    height: 144px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#footer .media-icons {
    height: 24px;
    width: 192px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#footer .year {
    color: #363E45A3;
    font-size: 14px;
}

@media(max-width: 3900px) {
    .Content {
        width: 358px;
        height: auto;
        gap: 60px;
        justify-content: normal;
    }

    #header {
        height: 80px;
    }

    #about {
        height: 610px;
    }

    .Image.image-about {
        width: 358px;
        height: 358px;
        background-image: url("../img/Image_about_mobile.png");
    }

    .about-text {
        line-height: 44px;
        font-size: 36px;
    }

    .button.hide-mobile {
        display: none;
    }

    #education {
        height: 804px;
    }

    #education .education-header {
        font-size: 36px;
        line-height: 36px;
        margin-bottom: 32px;
    }

    #education .education-grid {
        grid-template: 1fr 1fr 1fr 1fr 1fr 1fr / 1fr;
        gap: 32px;
        grid-auto-flow: column;
    }

    #experience {
        height: 662px;
    }

    #experience .exp-header {
        font-size: 36px;
        line-height: 36px;
        width: 250px;
    }

    #experience .experience-text {
        height: 96px;
        display: flex;
        justify-content: space-between;
    }

    #experience .date {
        margin: 0;
    }

    #experience .experience-pic {
        width: 100%;
        height: 358px;
    }

    #experience .media-menu {
        width: 100%;
        gap: 8px;
    }

    #experience .button {
        width: 100%;
        margin: 0;
    }

    #experience .experience-text-pic {
        height: 478px;
        flex-direction: column-reverse;
        justify-content: space-between;
    }

    .experience-text .paragraph {
        display: none;
    }



    #skills {
        height: 1140px;
    }

    #skills .skills-header {
        font-size: 36px;
        line-height: 36px;
        color: var(--primary-color);
        margin-bottom: 32px;
    }

    #skills .skills-grid {
        grid-template: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr / 1fr;
        gap: 24px;
        grid-auto-flow: column;
        margin-bottom: 32px;
    }

    #skills .skills-entry {
        height: 48px;
        justify-content: space-between;
    }

    #skills .bar {
        width: 358px;
    }

    #skills .add-new-skill {
        height: 344px;
    }

    #skills .add-new-skill-header {
        margin: 16px;
    }

    #skills .add-form {
        margin: 16px;
        height: 256px;
        flex-direction: column;
    }

    #skills .form {
        width: 100%;
    }

    #skills .add {
    }

    #skills button {
        width: 100%;
    }

    #contacts {
        height: 581px;
    }

    #contacts .contact-header {
        font-size: 36px;
        line-height: 36px;
    }

    #contacts .contact-line {
        flex-direction: column;
        height: 512px;
        gap: 16px;
    }

    #contacts .contact-elem {
        height: 160px;
    }

    #contacts .contact-pic {
        padding: 16px;
        height: 24px;
        width: 24px;
    }

    #contacts .contact-text {
        padding: 16px;
    }

    #footer {
        height: 89px;
        justify-content: normal;
        gap: 24px;
        flex-direction: column;
    }

    #footer .media-icons {
        height: 25px;
        width: 190px;
        align-items: center;
    }

}